<header>
 <div class="container">
  <div class="row">
   <div class="col text-center">
    <h1>Eat-Da-Burger!</h1>
   </div>
  </div>
 </div>
</header>
<section>
 <div class="container">
  <div class="row">
   <div class="col-sm-6 text-center">
    <h3>Now Serving:</h3>
    {{!-- Burgers where devoured = false --}}
   </div>
   <div class="col-sm-6 text-center">
    <h3>Already Served:</h3>
    {{!-- Burgers where devoured = true --}}
   </div>
  </div>
 </div>
</section>
<section>
 <div class="container">
  <div class="row">
   <div class="col text-center">
    <h3>New Order:</h3>
    <form id="newBurger">
     <div class="d-flex justify-content-center">
      <input type="text" class="form-control" id="newBurgerName" placeholder="Enter burger order here...">
      <button type="submit" class="btn btn-warning">Submit</button>
     </div>
    </form>
    <br><br>
   </div>
  </div>
 </div>
</section>