<div class="page-height">
 <div class="spacer"></div>
 <header>
  <div class="container">
   <div class="animatedImgs text-center">
    <img class="animatedImg z10" src="/assets/img/burger1.png">
    <img class="animatedImg z11" src="/assets/img/burger2.png">
    <img class="animatedImg z12" src="/assets/img/burger3.png">
    <img class="animatedImg z13" src="/assets/img/burger4.png">
    <img class="animatedImg z14" src="/assets/img/burger5.png">
    <img class="animatedImg z15" src="/assets/img/burger6.png">
    <div class="z16">
     <h1>EAT DA BURGER</h1>
    </div>
   </div>
  </div>
 </header>
 <section>
  <div class="container">
   <div class="row">
    <div class="col-md-6 text-center">
     <div class="innerDiv">
      <h3>Now Serving:</h3>
      {{!-- Burgers where devoured = false --}}
      {{#each burgers}}
      {{#unless devoured}}
      <div class="topBotMarg">
       <div class="d-flex justify-content-between">
        <span>
         <i class="fas fa-hamburger fa-2x"></i>
         <p class="leftMarg inlineP">
          {{burger_name}}
         </p>
        </span>
        <button type="button" class="btn btn-dark btn-sm leftMarg devour" data-id="{{id}}">Devour</button>
       </div>
      </div>
      <hr>
      {{/unless}}
      {{/each}}
     </div>
    </div>
    <div class="col-md-6 text-center">
     <div class="innerDiv">
      <h3>Already Served:</h3>
      {{!-- Burgers where devoured = true --}}
      {{#each burgers}}
      {{#if devoured}}
      <div class="topBotMarg">
       <div class="d-flex justify-content-start">
        <span>
         <i class="fas fa-hamburger fa-2x greyed"></i>
         <p class="leftMarg inlineP greyed">
          {{burger_name}}
         </p>
        </span>
       </div>
      </div>
      <hr>
      {{/if}}
      {{/each}}
     </div>
    </div>
   </div>
  </div>
 </section>
 <section>
  <div class="container">
   <div class="row">
    <div class="col">
     <div class="innerDiv text-center">
      <h3>New Order:</h3>
      {{!-- Order form --}}
      <form id="newBurger">
       <div class="d-flex justify-content-center">
        <input type="text" class="form-control" id="newBurgerName" maxlength="25" placeholder="Enter burger here...">
        <button type="submit" class="btn btn-warning leftMarg">Submit</button>
       </div>
      </form>
      <br>
     </div>
    </div>
   </div>
  </div>
 </section>
</div>